.login-field {
    position: absolute;
    display: inline-flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -200px;
}

.login-form {
    margin-right: 2rem;
    margin-bottom: 3rem;
}